body {
    background: #1e1e1e;
    color: #d4d4d4;
    font-family: Consolas, monospace;
    margin: 30px;
}

h2 {
    color: #4FC3F7;
}

textarea {
    width: 100%;
    height: 260px;
    background: #0d1117;
    color: #00ff88;
    border: 1px solid #333;
    padding: 12px;
    font-size: 15px;
}

.lang-btn {
    padding: 10px 18px;
    margin: 5px;
    background: #2d2d2d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.lang-btn:hover {
    background: #3c3c3c;
}

.active {
    background: #007acc;
}

#stdin {
    padding: 8px;
    background: #0d1117;
    color: white;
    border: 1px solid #333;
}

#output {
    background: black;
    color: #00ff88;
    padding: 12px;
    margin-top: 15px;
    min-height: 80px;
    border-radius: 6px;
}
